<div class="container mt-5">
  <h1 class="title text-center">你想對誰說幹話?</h1>
  <form action="/" method="post">
    <div class="d-flex select-career-section justify-content-between mt-5"> 
      <!--card-->
      {{#each careers}}
      <label class="form-check-label" for="{{this.id}}">
        <div class="card border-dark" style="width: 18rem;">
          <img src="{{this.img}}" class="card-img-top" alt="{{this.title}}" style="height: 14rem;">
          <div class="card-body text-center">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="career" id="{{this.id}}" value="{{this.id}}" {{isSelected this.id}}>{{this.title}}
            </div>
          </div>
        </div>
      </label>
       
      {{/each}}
      
    </div>
    <div class="d-flex generator-section mt-5 ">
    
      <input class="btn btn-primary align-self-center ml-3" type="submit" value="產生幹話" style="height:3rem;">
      <div class="show-direction flex-grow-1 ml-3">
        <div class="alert alert-light border-dark" role="alert" style="height: 100px">
          <h5>{{trashtalk}}</h5>
        </div>
      </div>
    </div>
  </form>
</div>